<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="LogToFile" value="True"/>
      <add key="LogToDatabase" value="True"/>
      <add key="LogToConsole" value="True"/>
      <add key="AllowedMessagesToLog" value="7"/>
      <!--
        Message = 1,
        Warning = 2,
        Error = 3,
        MessageAndWarning = 4,
        MessageAndError = 5,
        ErrorAndWarning = 6,
        All = 7
      -->

      <add key="LogFileDirectory" value="D:\"/>
      <add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Development\dotnet-proyects\project-website\CodeReviewTest\CodeReviewTest\database\Database1.mdf;Integrated Security=True"/>

    </appSettings>
</configuration>